div(layout="vertical", layout-fill)

    md-content
        header
            mo-navbar

        div.techs(layout-align="center")
            Test test test
            //- md-card(ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'")
            //-     div.thumbnail
            //-         img.pull-right(
            //-             ng-src="assets/images/{{:: awesomeThing.logo }}"
            //-             alt="{{:: awesomeThing.title }}"
            //-         )
            //-         div.caption
            //-             h3
            //-                 {{:: awesomeThing.title }}
            //-             p
            //-                 {{:: awesomeThing.description }}
            //-             p
            //-                 a(ng-href="{{:: awesomeThing.url }}")
            //-                     {{ awesomeThing.url }}
